<div class="container">
  <div class="col-md-8 col-md-offset-2">
    
    <h2>Welcome, <%= @crew.formal_title %></h2>

    <div class="content">
      <h3>Directory</h3>
      <ul>
        <li><button onclick="getShips();">List all Ships</button></li>
        <li><button onclick="getCrews();">List all Crew</button></li>
        <li><%= link_to "View All Assignments", assignments_path %></li>
        </ul>
    </div>
    
    <div id="listArea"></div>
    <div id="moreInfo"><p></p></div>
    
    <div class="sidebar">
      <h3>Menu</h3>
      <ul>
        <li><%= link_to "Edit Profile", edit_crew_path(current_user) %></li>
        <li><%= link_to "What's the fastest ship right now?", ships_fastest_path %></li>
      </ul>
    </div>

  </div>
</div>