<h1>Current assignment log:</h1>
<ul>
<% @assignments.each do |a| %>
    <li><%= "#{a.crew.rank} #{a.crew.name} is assigned to the #{a.ship.name}" %></li>
<% end %>
</ul>

<p><%= link_to "Create a New Assignment", new_ship_assignment_path %></p>