<h1>Current assignment log:</h1>
<ul>
<% @assignments.each do |a| %>
    <li><%= link_to "#{a.crew.rank} #{a.crew.name} is assigned to the #{a.ship.name}", ship_assignment_path(a.ship, a) %></li>
<% end %>
</ul>