<h1>List of this Ship's assignments:</h1>

<% @assignments.each do |a| %>
    <div>
    Assignment Name: <%= a.name %><br>
    Assignment Description: <%= a.description %><br>
    Assignment Ship ID: <%= a.ship_id %><br>
    Assignment Crew ID: <%= a.crew_id %><br></br>
    </div>
<% end %>